<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.organ_donation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Organ_Donation"
        tools:targetApi="31">

        <!-- Launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AUTH -->
        <activity android:name=".activities.LoginActivity" android:exported="false" />
        <activity android:name=".activities.SignupActivity" android:exported="false" />
        <activity android:name=".activities.ForgotPasswordActivity" android:exported="false" />

        <!-- DASHBOARDS -->
        <activity android:name=".activities.DashboardActivity" android:exported="false" />
        <activity android:name=".activities.DonorDashboardActivity" android:exported="false" />
        <activity android:name=".activities.PatientDashboardActivity" android:exported="false" />
        <activity android:name=".activities.HospitalDashboardActivity" android:exported="false" />
        <activity android:name=".activities.AdminDashboardActivity" android:exported="false" />

        <!-- FORMS -->
        <activity android:name=".activities.DonorFormActivity" android:exported="false" />
        <activity android:name=".activities.PatientFormActivity" android:exported="false" />
        <activity android:name=".activities.HospitalFormActivity" android:exported="false" />
        <activity android:name=".activities.HospitalAddDonationActivity" android:exported="false" />

        <!-- DONOR -->
        <activity android:name=".activities.DonorMyDonationActivity" android:exported="false" />
        <activity android:name=".activities.DonorRequestPortalActivity" android:exported="false" />

        <!-- PATIENT -->
        <activity android:name=".activities.PatientRequestActivity" android:exported="false" />
        <activity android:name=".activities.MyRequestsActivity" android:exported="false" />
        <activity android:name=".activities.AvailableDonationsActivity" android:exported="false" />

        <!-- ADMIN -->
        <activity android:name=".activities.AdminUserListActivity" android:exported="false" />
        <activity android:name=".activities.AdminDonorListActivity" android:exported="false" />

        <!-- HOSPITAL REQUEST ACTIVITY (IMPORTANT) -->
        <activity android:name=".activities.HospitalMakeRequestActivity" android:exported="false" />

    </application>

</manifest>
